



@model BKBVehicle.Models.VehicleAppModel.CarInfoViewModel

@{
    ViewBag.Title = "ColorIndex";
}

<br />
<h4>Add Colors</h4>
<h4 style="color:red">@TempData["retMsg"]</h4>
<p>
    @Html.ActionLink("Add New", "CreateColor", null, new { @class = "btn btn-primary" })
</p>





